.sidebar {
    height: 100%;
    width: 22vw;
    top: 0;
    right: 0;
    position: fixed;
    background-color: #b7aed396;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1001;
}