.photo {
    height: 200px;
    position: relative;
    margin-left: 25%;
    margin-right:25%;
    display: flex;
}
.sidecard-content {
    width: 300px;
    padding: 10px;
    background-color: #5a6392;
    text-align: center;
    color: #E6E2DF;
}

.sidecard-content, .photo {
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.sidecard {
    margin: 10px;
    
}


/* .card {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  } */